table {
	border-collapse: collapse;
	width:40%;
}
td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	background-color:LightSalmon;
}
.text-block {
	font-size:30px;
	padding-top: 80px;
}
th{
	border: 3px solid black;
	background-color:LightPink;
	padding: 10px;
	text-align: center;
}
td:hover{
	background-color:LightGreen;
}
.Title{
	font-family:Tahoma;
	text-align:center;
	color:MediumVioletRed;
	font-size: 50px;
	font-weight:strong;
	padding-top:40px;
}
.bg{
	background-color:Bisque;
}